body {
    font-family: Consolas, monospace;
}
.pane {
    border-radius: 7px;
    border: 1px solid black;
    background-color: #333;
    width: 300px;
    vertical-align: top;
    padding: 10px;
}

.settings {
    color: #ccc;
}

.hdr {
    color: black;
    background-color: #333;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
}

input {
    background: #222;
    border: none;
    color: #ccc;
    padding: 5px;
    width: 4ch;
}

input:focus {
    outline: none;
    box-shadow: 0 0 2px 0 cornflowerblue;
    transition: box-shadow 0.1s;
}

select {
    background: #333;
    border: none;
    color: #ccc;
    padding: 5px;
    scrollbar-color: #ccc #222;
    width: 100%;
    height: 100%;
}

select:focus {
    outline: none;
}

select option:checked {
    background: #555 -webkit-linear-gradient(bottom, #555 0%, #555 100%);
}

button {
    padding: 5px;
    margin: 5px 0 5px 0;
    background-color: #555;
    color: black;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

button:disabled {
    color: #333;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    cursor: auto;
}

button:enabled:active {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

button:focus {
    outline: none;
}

.red {
    color: #f88;
}

.blue {
    color: #88f;
}

.coolAlert {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.coolAlertInner {
    width: 300px;
    height: 200px;
    right: 0;
    bottom: 0;
    top:0;
    left:0;
    position: fixed;
    margin: auto;
    transition: scale 0.1s ease-out, opacity 0.15s ease-out;
    -webkit-transform: scale(1);
    -webkit-transition: transform 0.1s ease-out, opacity 0.15s ease-out;
}

.coolAlertInnerHidden {
    scale: 0.3;
    opacity: 0.3;
    -webkit-transform: scale(0.3);
}

.coolAlertMsg {
    border-radius: 7px;
    border: 1px solid black;
    background-color: #333;
    width: 300px;
    vertical-align: top;
    padding: 10px;
    color: #ccc;
    height: auto;
    text-align: center;
    vertical-align: center;
}